*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #262626;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

nav{
    width: min(90%, 420px);
    height: 50px;
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(14px, 2.5vw, 18px);
    position: absolute;
    top: 20px;
    z-index: 100;
}
#home{
    color: #262626;
    background-color: #EEEEEE;
    height: 25px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}

#aboutcard{
    min-height: 70vh;
    width: min(90%, 900px);
    background-color: #312f2f;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 75px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg ;
    inherits: false;
}
#aboutcard::after,#aboutcard::before{
    content: "";
    position: absolute;
    background-image: conic-gradient(from var(--angle), red,blue,green,yellow,red);
    inset: -10px;
    border-radius: 16px;
    z-index: -2;
    animation: spin 3s linear infinite;
}
#aboutcard::before{
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

#conm{
    color: azure;
    padding-left: 10px;
}
#out{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#logos{
    margin-top: 100px;
    width: min(80%,600px);
    font-size: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
i{
    transition: transform 0.5s ease;
}
i:hover{
    transform: scale(1.2);
}
#insta{
    transition: all 0.5s ease;
}
#insta:hover{
    background:linear-gradient( to right,#833ab4,#fd1d1d,#fcb045) ;
    background-clip: text;
    color: transparent;
}
#wh{
    transition: all 0.5s ease;
}
#wh:hover{
    color: #25D366;
}
p{
    color: azure;
    font-size: 16px;
    padding: 0;
    position: absolute;
    bottom: -100px;
}
#em{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}