*{
    margin: 0;padding: 0;
}

body{
    background-color: #262626;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: min(90%, 420px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(14px, 2.5vw, 18px);
    position: absolute;
    top: 12px;
    z-index: 100;
}
a{
    text-decoration: none;
    color: white;
}
#home{
    color: #262626;
    background-color: #EEEEEE;
    height: 25px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
#projects{
    margin-top: 75px;
    color: azure;
    min-height: 90vh;
    width: min(90vw,1100px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    margin: 20px;
    height: 350px;
    width: min(90vw,250px);
    border-radius: 12px;
    background-color: rgb(51, 48, 48);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    position: relative;
    z-index: 0;
    overflow: visible;
    transition: transform 0.5s ease , opacity 0.5s ease, color 0.5s ease;
}
.card::after{
    content: "";
    position: absolute;
    inset: -5px;
    opacity: 0;
    background-color: antiquewhite;
    border-radius: 16px;
    z-index: -1;
    transition: opacity 0.3s ease;
}
.card:hover{
    color: black;
}
.card:hover::after{
    opacity: 1;
}
#cards:hover .card{
    transform: scale(0.9);
    opacity: 0.6;
}
#cards .card:hover{
    transform: scale(1.1);
    opacity: 1;
}
.inh{
    margin-top: 50px;
}
p{
    display: flex;
    margin: 50px 10px 50px 10px;
}