*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #262626;
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow:auto;
}

nav{
    width: min(90%, 420px);
    height: 50px;
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(14px, 2.5vw, 18px);
    position: absolute;
    top: 20px;
    z-index: 100;
}
#home{
    color: #262626;
    background-color: #EEEEEE;
    height: 25px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}

#herocard{
    min-height: 70vh;
    width: min(90%,900px);
    background-color: #312f2f;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg ;
    inherits: false;
}
#herocard::after,#herocard::before{
    content: "";
    position: absolute;
    background-image: conic-gradient(from var(--angle), red,blue,green,yellow,red);
    inset: -10px;
    border-radius: 16px;
    z-index: -2;
    animation: spin 3s linear infinite;
}
#herocard::before{
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
#head{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
}
h1{
    border: 3px #EEEEEE solid ;
    padding: 10px;
    padding: 0 20px 0 20px;
    border-radius: 15px;
}
img{
    height: 50px;
    margin: 50px;
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(1.2);
}
#skills{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#github{
    border-radius: 50%;
}